#skateboarders {
    .skateboarder-profile {
        overflow: hidden;
        position: relative;
        display: flex;

        img {
            object-fit: cover;
            position: relative;
            // width: 100%;
            // top: 0;
            // left: 0;
        }
    }

    .col-5 {
        width: 48.4%;
    }

    .col-12 {
        width: 100%;;
    }

    h2 {
        position: absolute;
        color: white;
        font-weight: bolder;
        font-size: 2.5rem;
        align-self: center;
    }


}