@use 'social-btns';
@use 'menu';
@use 'carousel';
@use 'news';
@use 'skateboarders';

$accent-color: #B1242D;

body {
    background: rgba(0, 0, 0, 0.45) url("../images/bg.jpg") no-repeat fixed;
    background-blend-mode: darken;
    background-size: cover;
    height: 100%;
    backdrop-filter: blur(2px);
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 53%;
}
